<div id="content">
  <div class="container">
    {% include 'breadcrumb' %}
    <div class="row">
      <div class="col-sm-12">
        <div class="title clearfix">
          <h1>{{ 'customer.reset_password.title' | t }}</h1>
        </div>
      </div>
    </div>
    <div class="row mt20">
      <div class="col-sm-6 col-sm-offset-3">
        <div class="sfbox box-reset-password">
          {% form 'reset_customer_password' %}

          <p>{{ 'customer.reset_password.subtext' | t: email: email }}</p>

          {% include 'form-errors-custom' %}

          <div class="frm">
            <label for="reset_password" class="lbltxt">{{ 'customer.reset_password.password' | t }}</label>
            <input type="password" value="" name="customer[password]" id="reset_password" class="txtbox" {% if form.errors contains "password" %} class="error"{% endif %}>
          </div>

          <div class="frm">
            <label for="password_confirmation" class="lbltxt">{{ 'customer.reset_password.password_confirm' | t }}</label>
            <input type="password" value="" name="customer[password_confirmation]" id="password_confirmation" class="txtbox" {% if form.errors contains "password_confirmation" %} class="error"{% endif %}>
          </div>

          <p><input type="submit" class="btn_c" value="{{ 'customer.reset_password.submit' | t }}"></p>

          {% endform %}
        </div>      
      </div>
    </div>
  </div>
</div>