<div data-section-id="{{ section.id }}" data-section-type="password">
<header>
     <div class="container">
       <div class="row">
         <div class="col-sm-12 text-right password-link">
           <a href="#LoginModal" class="js-toggle-login-modal" data-mfp-src="#LoginModal">
               <span class="fa fa-lock"></span> {{ 'general.password_page.password_link' | t }}
              </a>
         </div>
       </div>
       <div class="row">
         <div class="col-sm-12 logo-center">
           <div class="password-logo">
           {% if section.settings.logo %}
              <a href="/" itemprop="url">
                <img src="{{ section.settings.logo | img_url }}" alt="{% if section.settings.logo.alt != blank %} {{section.settings.logo.alt }} {% else %}{{ shop.name }} {% endif %}" class="img-responsive" itemprop="logo" />
              </a>
            {% else %}
              <div class="logo-text h2 m15">
                <a class="text-logo" href="/" itemscope itemtype="http://schema.org/Organization">{{ shop.name }}</a>
              </div>
            {% endif %}
         </div>
         <!-- /.password-logo -->
         </div>
       </div>
     </div><!-- /.container -->
    </header>
    
    <div class="password-main" role="main">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 password-hero">
            <h2>{{ section.settings.title | escape }}</h2>
          {% unless shop.password_message == blank %}
            <div class="password-message h4">
              {{ shop.password_message }}
            </div>
            <hr>
          {% endunless %}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="password-signup">
              {% form 'customer' %}
              {{ form.errors | default_errors }}
              {% if form.posted_successfully? %}
                <p class="form-success">{{ 'general.password_page.signup_form_success' | t }}</p>
              {% else %}
                <div class="h4">{{ section.settings.content_text }}</div>
                <input type="hidden" name="contact[tags]" value="prospect, password page">
                <label for="email" class="sr-only">{{ 'general.password_page.signup_form_email_label' | t }}</label>
                <div class="form-group mt20">
                  <input type="text" name="contact[email]" id="email" class="txtbox" placeholder="{{ 'general.password_page.signup_form_email_placeholder' | t }}" autofocus>
                    <input type="submit" class="btn btn_c" value="{{ 'general.password_page.signup_form_submit' | t }}">
                </div>
              {% endif %}
            {% endform %}
            </div>
          </div>
        </div>
         {% if section.settings.show_share_buttons %}
        <div class="row mt20">
          <div class="col-sm-12 text-center">
            <p class="h5">{{ 'general.password_page.spread_the_word' | t }}</p>
            <div class="social">
              <ul>
                <li class="facebook"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ shop.url }}"><span class="fa fa-facebook"></span></a></li>
                <li class="twitter"><a target="_blank" href="https://twitter.com/intent/tweet?url={{shop.url}}&via={{ settings.twitter_link | remove: "https://twitter.com/" }}&text={{shop.name}}"><span class="fa fa-twitter"></span></a></li>
                <li class="google"><a target="_blank" href="https://plusone.google.com/_/+1/confirm?hl=en&url={{shop.url}}"><span class="fa fa-google-plus"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
        {% endif %}
        <footer class="password-footer">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                {% capture shopify %}
                <a class="shopify-link" rel="nofollow" href="//www.shopify.com" target="_blank" title="Create your own online store with Shopify">
                  {% include 'svg' with 'shopify-logo' %}
                  <span class="shopify-name sr-only">Shopify</span>
                </a>
                {% endcapture %}
                {{ 'general.password_page.powered_by_shopify_html' | t: shopify: shopify }}
              </div>
            </div>
          </div>
        </footer>
      </div>      
      <!-- /.container -->
    </div>
   

    <div id="LoginModal" class="password-login text-center mfp-hide">
      <div class="col-sm-6 col-sm-offset-3">
        <p class="h4">{{ 'general.password_page.login_form_heading' | t }}</p>
        {% form 'storefront_password' %}
        {{ form.errors | default_errors }}
        <label for="password" class="sr-only">{{ 'general.password_page.login_form_password_label' | t }}</label>
        <div class="form-group">
          <input type="password" name="password" id="password" class="txtbox" placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}" autofocus>
          <input type="submit" class="btn_c" value="{{ 'general.password_page.login_form_submit' | t }}">
        </div>
        {% endform %}
        <p class="admin-login">{{ 'general.password_page.admin_link_html' | t }}</p>
      </div>
    </div>
</div>
    
<style>
  body, .mfp-bg{
    background-color: {{settings.body_background_color }};
    {% if section.settings.background_image %}
      background: url({{section.settings.background_image | img_url: "1600x"}}) no-repeat center center fixed;
    {% else %}
       background: url({{"password-bg.jpg" | asset_img_url: "1600x"}}) no-repeat center center fixed;
    {% endif %}
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
   {% if section.settings.background_image %}
  .template-password:after, .mfp-bg:after{
     {% assign opacityValue = 100 | minus: section.settings.background_opacity %}  
        {% if opacityValue == 100 %}  
      opacity: 1; 
        {% else %}
      opacity: 0.{{opacityValue}};  
        {% endif %} 
      background: #000;
  }
  {% endif %}
  
  {% if section.settings.password_text_color != blank %}
  	.template-password, p, h2{
      color:  {{section.settings.password_text_color}};
    }
  {% endif %}
  
</style>

{% schema %}
{  
   "name":"Password page",
   "settings":[  
 	  {  
         "type":"image_picker",
         "id":"logo",
         "label":"Logo"
      },
      {  
         "type":"image_picker",
         "id":"background_image",
         "label":"Backround image"
      },   
	  {
        "type": "range",
        "id": "background_opacity",
        "label": "Image opacity",
        "min":       0,
        "max":        90,
        "step":       10,
        "unit":       "%",
        "default": 50
      },
      {  
         "type":"color",
         "id":"password_text_color",
         "label":"Text color",
		 "default": "#fff"
      },
      {  
         "type":"text",
         "id":"title",
         "label":"Heading",
         "default":"Opening soon"
      },
      {  
         "type":"richtext",
         "id":"content_text",
         "label":"Subheading",
         "default":"<p>Be the first to know when we launch.</p>"
      },
      {  
         "type":"checkbox",
         "id":"show_share_buttons",
         "label":"Show social sharing icons",
         "default":true
      }
   ]
}
{% endschema %}