{% layout none %}<!DOCTYPE html>
<!--[if IE 8]> <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if (gt IE 8)|!(IE)]><!--> <html class="modern" lang="en"> <!--<![endif]-->
  <head>
      <!-- Basic page needs ================================================== -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>
      {{ shop.name }}
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1">

    {% if settings.favicon != empty %}
    <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
    {% endif %}

    <!-- Social ================================================== -->
    {% include 'social-meta-tags' %}

    {{ content_for_header }}

    <!-- CSS ================================================== -->
    {{ 'apps-password.css' | asset_url | stylesheet_tag }}
    {{ 'password.css' | asset_url | stylesheet_tag }}
	
     <!-- Theme Global App JS ================================================== -->
    <script>
      var app = app || {
        data:{
          template:{{ template | json }},
          money_format: {{ shop.money_format | default:false | json }}
        }
      }
    </script>
    <!-- JS ================================================== -->
    {{ 'jquery.js' | asset_url | script_tag }}
    {{ 'jquery.magnific-popup.min.js' | asset_url | script_tag }}
    {{ 'scripts.js' | asset_url | script_tag }}
   

  </head>

  <body class="template-password">
   {% section "password" %}
  </body>
</html>
